body {
    background-image: url("./img/firewatch.png");
    background-repeat: no-repeat;
    background-size: auto 100% 100% contain;
    background-attachment: fixed;
    background-repeat: repeat-y;
    padding: 30px;
    background-position: center;
    height: auto;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}